
<app-header></app-header>
<div class="container-fluid" style="margin-top:70px">
  <div id="mySidenav" class="sidenav"> 
    <a routerLinkActive="active" routerLink="dashboard">Dashboard</a>
    <a routerLinkActive="active" routerLink="help">Help</a>
  </div>
  <div id="main">
  <div class="sidebarAction">
    <span id="openNavIcon" (click)="openNav()">&gt;</span>
    <span id="closeNavIcon" (click)="closeNav()">&lt;</span>
  </div> 
  <div class="row" style="margin:0px">
      <span> Today Date : {{dateToday | date}} [loading from services]</span>
      <router-outlet></router-outlet> 
  </div>
  <app-footer ></app-footer> 
</div>
</div> 
